:root {
    --bg: rgb(255, 255, 255);
    --text: rgb(0, 0, 0);
    --accent: rgb(182, 0, 0);
    --sec: rgb(230, 122, 0);
    font-size: 10vw;
}

/* UNIVERSAL */
body {
    padding: 0;
    margin: 0;
    width: 100vw;

}

/* NAVBAR */
nav {

    background-color: rgb(255, 0, 0);
    height: 10vh;

}

nav ul {
    width: 100%;
    background: #fff;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    overflow: none;
}

nav ul li {
    display: block;
    flex: 1;
    background-color: aqua;

}

nav ul li a {
    width: auto;
    text-decoration: none;
}

/* HOME PAGE */
.section {
    height: 90vh;
}

.home-section-one {
    background: rgb(9, 255, 0);
}

.home-section-two {
    background: rgb(25, 0, 255);
}

.home-section-three {
    background: rgb(255, 0, 170);
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 0, 0);
    height: 10vh;
}

/* CONACT PAGE */
.contact-section {
    background: rgb(9, 255, 0);
    height: 100vh;
}